node_modules/bootstrap/*.*
node_modules/bootstrap/LICENSE
node_modules/bootstrap/dist
node_modules/bootstrap/js
node_modules/bootstrap/scss/*.*
node_modules/bootstrap/scss/mixins
node_modules/bootstrap/scss/utilities
node_modules/bootstrap/scss/vendor
!node_modules/bootstrap/scss/style.scss
!node_modules/bootstrap/scss/_variables.scss
node_modules/jquery
node_modules/popper.js


